body {
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

h1, h2, h3 {
	font-family: 'Arvo', serif;
	margin: 0;
}

h1 b {
	font-family: inherit;
	font-weight: 700;
}

.personal_info {
	margin-bottom: 30px;
}

h2 {
	font-size: 20px;
}

.section {
	margin-top: 60px;
	margin-bottom: 20px;
}

h3 {
	color: #77bbff;
	font-size: 14px;
}

.item {
	margin-top: 12px;
}

@media print {
  @page {
    size: 8.5in 11in;
    margin: 0in;
  }

  h3 {
  	color: #77bbff;
  }

  .container {
    width: 950px;
  }
}