<!DOCTYPE html>
<html>
	{% include "resume/header.html" %}
	<body>
		<div class="container">
			<div class="row hidden-print">.</div>
			{% include "resume/personal.html" %}
			{% include "resume/line.html" with section="Education" proj_work=false list_str=education.0 %}
			{% include "resume/line.html" with section="Projects" proj_work=true list=proj_lst %}
			<!--{% include "resume/line.html" with title="Interests" list=hobbies %} -->
		</div>
	</body>
	{% include "resume/footer.html" %}
</html>